<h2 style="color:SlateBlue;">Add New Bulk Discount</h2>

<div id="new-discount-input" >
  <%= render partial: 'form', locals: {
                                      path: "/merchants/#{@merchant.id}/bulk_discounts",
                                      method: :post,
                                      button_text: "Submit",
                                      discount_name: @new_discount.discount_name,
                                      percentage:  @new_discount.percentage,
                                      quantity_threshold:   @new_discount.quantity_threshold} %>
        
</div>