<h2><center>The Four Horsemen</center></h2>

<center><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQHfl_UJ28l5dg/profile-displayphoto-shrink_200_200/0/1641921643027?e=1674086400&v=beta&t=ssA-g4Ekm858NwAsmkwgN2fKekMw0lDfP3Q9Jd8LDGc" width="100" height= "100">
<img src = "https://global-uploads.webflow.com/6189a90bab32c37c5095341f/61b13de18900cb759b7115bf_Chris-Simmons-Headshot.jpeg" width="100" height= "100"></center>
<center><img src = "https://global-uploads.webflow.com/6189a90bab32c37c5095341f/61a513fc0eb15c9815edd3e1_casimir.jpg" width="100" height= "100"></center>
<center><img src = "https://media-exp1.licdn.com/dms/image/C5603AQFg36SHA4Yaow/profile-displayphoto-shrink_200_200/0/1655168145023?e=1674086400&v=beta&t=XrLf3apECTj1uazus16Z9DzewsVCb-dGqvsFfZNljj8" width="100" height= "100"></center>


<div style="position:fixed; padding: 1em; top: 0; right: 0;">
  <strong><ul><%= link_to 'Admin Page', admin_path %></ul></strong>
  <strong><ul><%= link_to 'Admin Merchant Page', admin_merchants_path %></ul></strong>
  <strong><ul><%= link_to 'Admin Invoice Page', admin_invoices_path %></ul></strong>
</div>